html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ul li {
  list-style-type: none;
  text-align: center;
}

nav ul {
  margin-left: 0;
}
a {
  text-decoration: none;
}

.btn {
  background: #333;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
}

.btn-subtle {
  background: #ccc;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
}

.btn-ghost {
  border: 3px solid black;
  border-radius: 8px;
  padding: .4em .75em .3em;
  color: black;
  font-size: 1.125rem;
}

.btn-warning {
  color: #fff;
  background: #f33;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
}

.two .btn {
  background: #333;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: .875rem;
}

.two .btn-subtle {
  background: #ccc;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  margin-top: 4;
  font-size: .875rem;
}

.two .btn-ghost {
  border: 3px solid black;
  border-radius: 8px;
  padding: .4em .75em .3em;
  color: black;
  font-size: .875rem;
}

.two .btn-warning {
  color: #fff;
  background: #f33;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: .875rem;
}

.three .btn {
  background: #333;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.5rem;
}

.three .btn-subtle {
  background: #ccc;
  color: #fff;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.5rem;
}

.three .btn-ghost {
  border: 3px solid black;
  border-radius: 8px;
  padding: .4em .75em .3em;
  color: black;
  font-size: 1.5rem;
}

.three .btn-warning {
  color: #fff;
  background: #f33;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.5rem;
}
