html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main{
 border: 3px;
 border-radius: 8px;
}

.btn {
  font-size: 1.125rem;
  background: black;
  color: #fff;
}

.btn-subtle {
  font-size: 1.125rem;
  background: #ccc;
  color: #fff;
}

.btn-ghost {
  font-size: 1.125rem;
  background: #fff;
  color: black;
}

.btn-warning {
  font-size: 1.125rem;
  background: #f33;
  color: #fff;
}

.btn-small{
  font-size: .875rem;
  background: black;
  color: #fff;
}

.btn-subtle-small {
  font-size: .875rem;
  background: black;
  color: #fff;
}

.btn-ghost-small {
  font-size: .875rem;
  background: #fff;
  color: black;
}

.btn-warning-small {
  font-size: .875rem;
  background: #f33;
  color: #fff;
}

.btn-big {
  font-size: 1.5rem;
  background: black;
  color: #fff;
}

.btn-subtle-big {
  font-size: 1.5rem;
  background: black;
  color: #fff;
}

.btn-ghost-big {
  font-size: 1.5rem;
  background: #fff;
  color: black;
}

.btn-warnin-big {
  font-size: 1.5rem;
  background: #f33;
  color: #fff;
}
